/*
Light Mode
#ffffff - background
#017910 - text green
#cf2b4e - text pink
#5b1776 - text purple
#1a1a1a - adjust
*/

body {
    background-color: #fff;
    color: #1a1a1a;
}

#mode {
    color: #1a1a1a;
}

/*****header*****/

.functional {
    color: #cf2b4e;
}

.accessible {
    color: #017910;
}

.beautiful {
    color: #5b1776;
    font-weight: 500;
}

.links a {
    color: #1a1a1a;
}

.fa-plus {
    color: #4e1466;
}

/****projects*****/


.fa-code {
    color: #017910;
}

.projects {
    background-color: #e6d5ff;
}

.project-link {
    color: #a52249;
}

/***footer***/

#contact {
    color: #4e1466;
}

.fa-star-of-life {
    color: #fd9e03;
}
