/*
Color Suggestions - 
Dark Mode
#1a1a1a - background
#85e680 - text green
#e788bc - text pink
#bb96e9 - text purple
#f9e1e8 - icons & title
#fdf32a - lightbulb

Light Mode
#ffffff - background
#146625 - text green
#a52249 - text pink
#4e1466 - text purple
#8e3952 - icons
#1a1a1a - lightbulb
*/

html {
    background-color: #1a1a1a;
    font-size: 16px;
    box-sizing: border-box;
    color: #f9e1e8;
    font-family: "Montserrat", "Helvetica", sans-serif;
    width: 100%;
}

header {
    position: relative;
    font-family: "Raleway", "Arial", sans-serif;
    line-height: 0;
}

.mode {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.title, .keywords {
    display: flex;
}

.title {
    font-weight: 600;
    justify-content: left;
}

.keywords {
    justify-content: space-between;
    font-weight: 500;
    
}

.keywords .functional {
    color: #e788bc;
}

.keywords .accessible {
    color: #85e680;
}

.keywords .beautiful {
    color: #bb96e9;
}

.links {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    margin: 0.5rem;
}

.links a {
    color: #f9e1e8;
}

.work-type {
    display: grid; 
    grid-template: repeat(5, 1fr) / repeat(6, 1fr);
    justify-items: left;
    align-items: center;
}

.fa-code, .fa-star-of-life {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
}

.section-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 600;
    grid-area: 1 / 2 / 2 / span 4;
}

.project-image {
    grid-area: 2 / 1 / 5 / 3;
    width: 6rem;
    height: 6rem;
}

.project-title {
    font-weight: 600;
    grid-area: 2 / 3 / 3 / 7;
}

.project-link {
    color: #e788bc;
}

.dropdown {
    grid-area: 3 / 3 / 5 / span 4;
}

.more-link {
    grid-area: 5 / 1 / 6 / span 6;
    color: #85e680;
}

