/*
Color Suggestions - 
Dark Mode
#1f1f1f - main background
#121212 - section background
#85e680 - text green
#e788bc - text pink
#bb96e9 - text purple
#f9e1e8 - icons & title
#fdf32a - adjust

Light Mode
#ffffff - background
#146625 - text green
#a52249 - text pink
#4e1466 - text purple
#8e3952 - icons
#1a1a1a - adjust
*/

body {
    background-color: #1f1f1f;
    font-size: 16px;
    box-sizing: border-box;
    color: #f9e1e8;
    font-family: "Montserrat", "Helvetica", sans-serif;
}

#mode {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: #fdf32a;
}

.fa-adjust {
    font-size: 1rem;
}

/*****header*****/

header {
    position: relative;
    font-family: "Raleway", "Arial", sans-serif;
    line-height: 0;
}

.title, .keywords, .links {
    display: flex;
    margin: 0.5rem;
}

.title {
    font-weight: 600;
    justify-content: left;
    height: 1.5rem;
}

.keywords {
    font-size: larger;
    width: 80%;
}

.functional {
    color: #e788bc;
    margin-right: 1rem;
}

.accessible {
    color: #85e680;
    margin-right: 1rem;
}

.beautiful {
    color: #bb96e9;
}

.keywords, .links {
    justify-content: space-between;
    font-weight: 500;
}

.links a {
    color: #f9e1e8;
}

.fa-plus, .fa-minus {
    color: #bb96e9;
}

.dropdown {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.5rem;
}

.dropdown h4 {
    line-height: 0;
}

.fa-code, .fa-plus, .fa-minus {
    justify-self: center;
    align-self: center;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

#plus {
    display: flex;
}

#minus {
    display: none;
}

#approach-text {
    display: none;
}

/****projects*****/


.fa-code {
    color: #85e680;
}

.projects {
    background-color: #0d0d0d;
}

.project-items {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.projects-header {
    display: flex;
    margin-left: 1rem;
}

.project-item {
    display: grid; 
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    justify-items: left;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.project-title {
    font-weight: 600;
    grid-area: 1 / 1 / 2 / span 3;
}

.project-image {
    grid-area: 2 / 1 / span 2 / 2;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}

.short-description {
    grid-area: 2 / 2 / span 2 / span 2;
}

.project-link {
    color: #e788bc;
    font-weight: 600;
}

/***footer***/

footer {
    height: fit-content;
    margin: 0.5rem;
}

.fa-star-of-life {
    color: #fdf32a;
    margin-right: 0.5rem;
}

#contact {
    color: #bb96e9;
    font-weight: 500;
}

.credits {
    font-size: 0.8em;
    line-height: 0.5rem;
}


@media screen and (min-width: 450px) {
    .keywords, .links {
        max-width: 400px;
    }
}

@media screen and (min-width: 768px) {
    .project-items {
        flex-wrap: nowrap;
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    #plus, #minus {
        display: none;
    }

    #approach-text {
        display: flex;
    }
}

